
/* always in front end  start designning for small devices and go through up */



/* X-Small devices (portrait phones, less than 576px)*/
    /* in this section shoud be you design  */






/* xx-Small devices (landscape phones, 576px and up) the smallest with can suplly is 225 px*/
@media (max-width: 375px) {


    /* start  the global rules for each media quiries */
    
    .container { /* this container hold all content in the body */
        margin: auto;
        /*background-color: antiquewhite;*/
        padding-left: 5px;
        padding-right: 5px;
        margin-left: auto;
        margin-right: auto;
    }
    .d-grid-xxsmall { /* it a class */
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
        gap: 10px;
    }

    
    /* end  the global rules for each media quiries */
  }
/* x-Small devices (landscape phones, 576px and up)*/
@media (min-width: 375px ) and (max-width:576px) { 
    /* start  the global rules for each media quiries */
    .container { /* this container hold all content in the body */
        margin: auto;
        /*background-color: antiquewhite;*/
        padding-left: 7px;
        padding-right: 7px;
        margin-left: auto;
        margin-right: auto;
    }
    .d-grid-xsmall { /* its a class */
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
        gap: 10px;
    }
    /* end  the global rules for each media quiries */
 }
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px ) { 
    /* start  the global rules for each media quiries */
    .container { /* this container hold all content in the body */
        margin: auto;
        /*background-color: antiquewhite;*/
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .d-grid-small { /* its a class*/
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
        gap: 15px;
    }
    /* end  the global rules for each media quiries */
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    /* start  the global rules for each media quiries */
    .container { /* this container hold all content in the body */
        margin: auto;
        /*background-color: antiquewhite;*/
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .d-grid-medium { /* its a class*/
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
        gap: 15px;
    }
    /* end  the global rules for each media quiries */
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    /* start  the global rules for each media quiries */
    .container { /* this container hold all content in the body */
        margin: auto;
        /*background-color: antiquewhite;*/
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .d-grid-large { /* its a class*/
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
        gap: 20px;
    }
    /* end  the global rules for each media quiries */
 }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {  }