/* lets use media queries to make our project responsible */



/* xx-Small devices (portrait phones, less than 300px)*/
@media (max-width: 300px) { 

    /* global rules */
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    h1 {
        
        font-size: large;
    }

    h2 {
        
        font-size: medium;
    }

    p,span {
        font-size: xx-small;
    }

    /* end global rules */
 }

/* X-Small devices (portrait phones, betwen 300px 576px)*/
@media (min-width: 300px) and (max-width:768px) {
    
    /* global rules */
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    h1 {
        
        font-size: x-large;
    }

    h2 {
       
        font-size: large;
    }

    p,span {
        font-size: small;
    }

    /* end global rules */
 }



/* Small devices (landscape phones, up than 768px)*/
/* your designs should be from this point for phones ( ipad mini 768 px)*/
@media (min-width: 768px) { 

    /* global rules */
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* end global rules */
 }

/* Medium devices (tablets, less than 820px (ipad air))*/
@media (min-width: 820px) { 
    
 }

/*Large devices (desktops, up than 1200px)*/
@media (min-width: 1200px) { 
    
 }

/* X-Large devices (large desktops, up than 1400px)*/
@media (min-width: 1400px) { 

 }

/* XX-Large devices (larger desktops)*/
/* No media query since the xxl breakpoint has no upper bound on its width*/