/* global rules */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0f172a;
    
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* end global rules */





/*/*.container { /* this container hold all content in the body */
    /*margin: auto;*/
    /*background-color: antiquewhite;*/
   /* padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}*/



/* start styling the header */
.header {
    display: flex;
    align-content: center;
    width: 100%;
    height: 100px;
    /*background-color: antiquewhite;*/
}

.logo {
    /*background-color: aqua;*/
    padding-left: 5%;
    display: flex;
    align-items: center;
    width: 30%;
    text-align: start;
    color: rgb(192, 133, 85);
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    
}

.links a{
    color: #ffffffdf;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    /*display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    background-color: blue;*/
    display: none;
}


/* start styling the content section */

.main-content {
    margin-top: 100px;
    height: calc(100vh - 50px);
background-color:#cbd5e1;
    display: flex;
    
    color: #0f172a;
    border-radius: 10px;
}




/* this for side bar */


.side-bare {
    width: 150px;
    border-radius: 20px;
}
.side-bare ul li {
    margin-bottom: 30px;
    margin-left: -15px;
}

.side-bare ul li a {
    padding: 10px;
}

.side-bare ul li a span {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 820px){
    .side-bare ul li a span {
        display: none;
    }
}


.dash-title {
    color: #222867;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

.home-page {
    background-color: #e5eaf0;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: -10px;
    border-bottom-left-radius: 10px;
}


/* this for the content */


.content {
    width: 100%;
    background-color: #2228675c;
    border-bottom-left-radius:20px ;
    border-top-left-radius:20px ;
    overflow-y: scroll;
    scrollbar-color: rgb(47, 90, 171);
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #0f172ae0;
    color: #cdd5e0;
    border-radius: 10px;
    margin: 5px;
    margin-top: 15px;
}

.search input {
    background-color: #cbd5e1;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.search input:focus {
    border: none;
    border-color: #cbd5e1;
    background-color: transparent;
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar img {
    border-radius: 50%;
    margin-left: 20%;
}

.avatar i {
    color: rgb(255, 255, 255);
}
/*.avatar i::after {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    background-color: #de0000;
}*/


.allpages-header {
    margin-left: 50px;
    margin-top: 40px;
    color: #222867;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight:bolder;
    text-decoration-line: underline;
    text-decoration-color: white;
    text-underline-offset: 10px;
    
}



/*.allpages-header::before {
    position: relative;
    content: '';
    margin-top: 40px;
    width: 100px;
    height: 4px;
    border-radius: 10px;
    background-color: rgb(230, 226, 226);
}*/


.wrapper   {
    margin: 15px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap: 20px;
    
}

.wrapper  div {
    background-color: #e5eaf0;
    border-radius: 10px;
}

.wrapper .welcome {
    height: fit-content;
}

.wrapper .widget {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.wrapper .widget div {
    display: block;
}

.profile {
    text-align: end;
    background-color: #222867;
    display: inline-block;
    padding: 5px 30px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    color: #cbd5e1;
    margin-left: 5%;
   
}




























/* start styling the footer */

.footer {
    background-color: rgba(157, 121, 121, 0);
    margin-top: 100px;
    color: aliceblue;
}

.ouazizi-brand {
    width: 100%;
    display: flex;
}

.ouazizi-brand .ouazizi-logo {
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.ouazizi-brand .ouazizi-logo .big-o {
    color: rgba(255, 166, 0, 0.893);
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    background-color: rgba(6, 40, 70, 0.803);
    border-radius:5px;
    margin-left: 5px;
    font-size: xxx-large;
}

.ouazizi-brand .ouazizi-logo .small-text {
    color: rgba(255, 166, 0, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.ouazizi-brand .social-media {
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10%;
}

.ouazizi-brand .social-media a {
margin-left: 5%;
}

.line {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 1px;
}

.footer-information {
    display: grid;
    gap: 10%;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
}





.footer-hs {
    color:rgba(255, 166, 0, 0.806);
    font-family: Arial, Helvetica, sans-serif;
}

 .under-line {
    color: rgb(255, 0, 0);
    width: 100px;
    margin-left: 0%;
   
}

.about-description p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: rgba(240, 248, 255, 0.693);
}


.usefull-links {
    text-align: start;
}
.usefull-links ul {
    display: inline-block;
    margin-left: -40px;
    margin-top: -5px;
}

.usefull-links ul li  {
    padding: 5px;
   
   
}

.usefull-links ul li a {
    color: rgba(240, 248, 255, 0.825);
    font-size: medium;
    
}

.usefull-links ul li a:hover {
    color: rgb(43, 43, 109);
}



.information .information-element div {
    margin-top:  20px;
    margin-bottom:  15px;
}












.copyright {

    margin-top: 150px;
    text-align: center;
    color: rgba(240, 248, 255, 0.849);
}