/*====== start global rules =======*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0f172a;
    margin: 0px;
    padding: 0px;
    
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*====== end global rules =======*/





/* ===== start styling header =======*/

.header {
    display: flex;
    align-content: center;
    width: 100%;
    height: 100px;
    /*background-color: antiquewhite;*/
}



.new-header {
    display: flex;
    align-items: center;
}


.new-logo {
    display: flex;
    align-items: center;
    width: 20%;
    margin-left: 5%;

}

.new-logo .big-o {
    font-size: xx-large;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 5px;
    background-color: #cbd5e1;
    border-radius: 5px;
    color: rgb(175, 102, 1);
}

.new-logo .small-text {
    color: rgba(238, 118, 75, 0.932);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

.new-links {
    position: absolute;
    right: 0;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.new-links a {
    display: flex;
    color: #cbd5e1c8;
    padding: 5px 10px 5px 10px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.new-links a:hover {
    background-color: #96abc9;
    color: #3c3c3c;
    border-radius: 10px;
}

.burger { /* this for hide the burger menu on large devices*/
    display: none;
}


/* this is the maximum with in small devices (ipad mini) for top headers*/
@media (max-width: 768px){
    /* start styling the header on small devices*/
    .new-links {
        display: none;
    }

    .show-links { /* this class we will use it ba js */
        display: block;
        position: absolute;
        margin-top: 250px;
        width: 100% ;
        margin-left:  0px;
        margin-right: 0px;
        text-align: center;
        background-color: #96abc9;
    }
    
    
    .new-links a {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #3c3c3c;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    
    .burger {
        display: flex;
        position: absolute;
        right: 0;
        margin-right: 6%;
    }
    
    .burger a i {
        font-size: x-large;
        color: #cbd5e1;
    }
}
/* ===== end the styling header =======*/




/* ======= start styling the content section ======== */













/* ======= end styling the content section ======== */



/*======= start styling the footer =======*/

.footer {
    background-color: rgba(157, 121, 121, 0);
    margin-top: 100px;
    color: aliceblue;
}

.ouazizi-brand {
    width: 100%;
    display: flex;
}

.ouazizi-brand .ouazizi-logo {
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.ouazizi-brand .ouazizi-logo .big-o {
    color: rgba(255, 166, 0, 0.893);
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    background-color: rgba(6, 40, 70, 0.803);
    border-radius:5px;
    margin-left: 5px;
    font-size: x-large;
}

.ouazizi-brand .ouazizi-logo .small-text {
    color: rgba(255, 166, 0, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.ouazizi-brand .social-media {
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.ouazizi-brand .social-media a {
margin-left: 5%;
}

.line {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 1px;
}

.footer-information {
    display: grid;
    gap: 10%;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
}


.footer-hs {
    color:rgba(255, 166, 0, 0.806);
    font-family: Arial, Helvetica, sans-serif;
}

 .under-line {
    color: rgb(255, 0, 0);
    width: 100px;
    margin-left: 0%;
   
}

.about-description p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: rgba(240, 248, 255, 0.693);
}


.usefull-links {
    text-align: start;
}
.usefull-links ul {
    display: inline-block;
    margin-left: -40px;
    margin-top: -5px;
}

.usefull-links ul li  {
    padding: 5px;
   
   
}

.usefull-links ul li a {
    color: rgba(240, 248, 255, 0.825);
    font-size: medium;
    
}

.usefull-links ul li a:hover {
    color: rgb(43, 43, 109);
}



.information .information-element div {
    margin-top:  20px;
    margin-bottom:  15px;
}

.copyright {

    margin-top: 150px;
    text-align: center;
    color: rgba(240, 248, 255, 0.849);
}




